html
  head
    title Image Abstraction Layer
  body
    h1 Image Abstraction Layer Usage
    div
        h4 To Search Images
    div
        p https://fcc-backend-imgsearch.herokuapp.com/search/LOL Cats
        p Or:
        p https://fcc-backend-imgsearch.herokuapp.com/search/LOL Cats?offset=5
    div 
        h4 To View Search History
    div
        p https://fcc-backend-imgsearch.herokuapp.com/history