html
  head
    title URL Shortener
  body
    h1 URL Shortener Usage
    div
        h4 To create a new short URL:
    div
        p https://fcc-backend-shortener.herokuapp.com/new/https://www.google.com
    div 
        h4 Example Output:
    div
        span {"original_url":"https://www.google.com","short_url":221669,"_id":"5798276666483a0011aca430"}
    div
        h4 To navigate to the URL: 
        p Use this sites address plus the short_url code.
    div
        h4 Example Usage:
        p https://fcc-backend-shortener.herokuapp.com/221669