html
  head
    title Timestamp Service
  body
    h1 Timestamp Service Usage
    div
        h4 Example usage:
    div
        p https://timestamp-server.herokuapp.com/December%2015,%202015
        p https://timestamp-server.herokuapp.com/1450137600
    div 
        h4 Example Output:
    div
        span { "unix": 1450137600, "natural": "December 15, 2015" }